fusion/fusion.vcxproj.filters
fusion/fusion.VC.VC.opendb
fusion/Debug/vc140.idb
fusion/Debug/fusion.tlog/link.write.1.tlog
fusion/Debug/fusion.tlog/CL.write.1.tlog
fusion/Debug/fusion.tlog/CL.read.1.tlog
fusion/Debug/fusion.tlog/CL.command.1.tlog
fusion/fusion.vcxproj
fusion/fusion.sln
fusion/fusion.VC.db
fusion/Debug/fusion.tlog/link.read.1.tlog
fusion/Debug/fusion.tlog/link.command.1.tlog
fusion/Debug/fusion.tlog/fusion.lastbuildstate
RenderLab/RenderLab.vcxproj.filters
RenderLab/RenderLab.vcxproj
RenderLab/RenderLab.sln
RenderLab/RenderLab.VC.db
RenderLab/RenderLab.VC.VC.opendb
RenderLab/Debug/vc140.idb
RenderLab/Debug/RenderLab.tlog/link.write.1.tlog
RenderLab/Debug/RenderLab.tlog/link.read.1.tlog
RenderLab/Debug/RenderLab.tlog/link.command.1.tlog
RenderLab/Debug/RenderLab.tlog/RenderLab.lastbuildstate
RenderLab/Debug/RenderLab.tlog/CL.write.1.tlog
RenderLab/Debug/RenderLab.tlog/CL.read.1.tlog
RenderLab/Debug/RenderLab.tlog/CL.command.1.tlog
RenderLab/Debug/RenderLab.tlog/fxc.write.1.tlog
RenderLab/Debug/RenderLab.tlog/fxc.read.1.tlog
RenderLab/Debug/RenderLab.tlog/RenderLab.write.1u.tlog
RenderLab/Debug/RenderLab.tlog/FXC.command.1.tlog
RenderLab/Debug/BasicVertexShader.cso
RenderLab/Debug/BasicPixelShader.cso
RenderLab/shaders/ShadowPassVS.h
RenderLab/shaders/PointLightShadowPassVS.h
RenderLab/shaders/PointLightShadowPassGS.h
RenderLab/shaders/BasicVertexShader.h
RenderLab/shaders/BasicPixelShader.h
RenderLab/Debug/ShadowPassVS.cso
RenderLab/Debug/PointLightShadowPassVS.cso
RenderLab/Debug/PointLightShadowPassGS.cso
